.container{
    display: flex;
}
.d1{
    padding: 15px;
    padding-top: 100px;
    text-align: center;
    border: solid 2px;
    border-radius: 12%;
    background-color: purple;
    color: white;

}
.d2{
    padding: 15px;
    padding-top: 100px;
    text-align: center;
    border: solid 2px;
    border-radius: 12%;
    background-color: rgb(163, 156, 146);
    color: white;

}
i{
    border: solid 2px;
    border-radius: 20%;
    margin: 15px;
    padding: 5px;
}